<!DOCTYPE html>
<html lang="pt-br" contentType="text/html; charset=utf-8">
<head>
	<!-- Bootstrap Core CSS -->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../../../resources/css/hades_intro.css" rel="stylesheet"/>
    <link href="../../../resources/css/form_style.css" rel="stylesheet"/>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" id="cabecalho">
			<a class="navbar-brand" href="#">Serviço</a>
            <p class="navbar-text navbar-right">Usuário: <a href="#" class="navbar-link">João da Silva</a></p>
        </div>
    </nav>
    <div class="container" id="intro_caixa_pagina">
    	<div class="row">
            <div class="col-md-6" id="caixa_coluna">
                <div class="shadow">
                    <div class="over-shadow">
                        <h1 class="titulo_caixa">Tipo de Operação</h1>
                        <div id="intro_caixa_botoes">
					    	<button type="button" id="pago" class="btn btn-block" style="margin-top:10%;"><b><u>P</u></b>ago</button>
							<button type="button" id="gratuito" class="btn btn-block" style="margin-top:5%;"><b><u>G</u></b>ratuito</button>
							<button type="button" id="registro_de_obito" class="btn btn-block" style="margin-top:5%;margin-bottom:5%;"><b><u>R</u></b>egistro de Óbito</button>
					    </div>
                    </div>
                </div>
            </div>    
        </div>    	
    </div>
</body>
   	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../../../resources/js/hades_intro.js"></script>
</html>