<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../../../resources/css/hades_intro.css" rel="stylesheet"/>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" id="cabecalho">
			<a class="navbar-brand" href="#">Brand</a>
        	<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
    	</div>
    </nav>
    <div class="container" id="intro_caixa_pagina">
    	<div id="intro_caixa_botoes">
    		<button type="button" class="btn btn-block">Block level button</button>
			<button type="button" class="btn btn-block">Block level button</button>
			<button type="button" class="btn btn-block">Block level button</button>
			<button type="button" class="btn btn-block">Block level button</button>
			<button type="button" class="btn btn-block">Block level button</button>
			<button type="button" class="btn btn-block">Block level button</button>
			<button type="button" class="btn btn-block">Block level button</button>
    	</div>
    </div>
</body>
</html>